#root {
  display: grid;
  grid-template-areas:
    'cabecalho cabecalho'
    'ladoEsquerdo principal'
    'rodape rodape';

    grid-template-rows: 64px 1fr 88px;
    grid-template-columns: 288px 1fr;
}

header {
  background-color: aqua;
  grid-area: cabecalho;
}

aside {
  background-color: bisque;
  grid-area: ladoEsquerdo;
}

main {
  background-color: lightgray;
  grid-area: principal;
}

footer {
  background-color: blueviolet;
  grid-area: rodape;
}
